*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Crimson Text', serif;
}
.over-all-section{
    background-image: url("images/background3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    
}
.flex1{
    display:flex;
    margin-left: 25px;
    margin-right: 25px;
   
 
}
.hello{
    width:70%;
    font-size: 150px;
    text-align: center;
    background-image: linear-gradient(Crimson, wheat);
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 30px;
    
 
    
}
.div-class{
    width:30%;
    border: 1px solid slateblue;
    border-radius: 50%;
    margin-top: 30px;
 
}
.div-class img{
    width: 100%;
    height: 100%;
}
/* section1 end */
 
.flex2{
    display:flex;
    
}
.half-width{
    width:50%;
    margin-left:25px;
    margin-top: 30px;
    margin-right: 25px;
    box-shadow: 10px 15px 40px black;
    border-radius: 30px;
    overflow: hidden;
    
   
    
    
}
.half-width img{
    width:100%;
    height: 60%;
    
}
 
.h2{
    text-align: center;
    font-size: 60px;
    color:wheat;
    margin-top: 20px;
    
}
 
.flex2 h3{
    background-color: rgb(207, 144, 27);
    color:whitesmoke;
    padding:40px;
    text-align: center;
    font-size: 40px;
    height: 40%;
    padding-top: 15%;
    
}
/*  section2 end*/
 
.flex3{
    display: flex;
    margin-top:30px;
    margin-left: 25px;
    margin-right: 25px;
 
    
}
.orange-color{
    color:black;
    margin-top: 10px;
    font-size: 20px;
}
.half-width2{
    width: 33%;
    margin-left: 10px;
    background-image: linear-gradient(indigo,white);
    padding:20px;
    border-left: 7px solid;
    border-image: linear-gradient(orange,whitesmoke,orange);
    border-image-slice: 1;
    border-radius:20px;
   
  
}
.half-width3{
    width: 34%;
    margin-left: 20px;
    margin-right: 10px;
}
.half-width3 img{
    width:100%;
}
 .flex3 h2{
    color:whitesmoke;
    font-size:50px ;
}
#id2{
    color:orange;
    font-size:50px;
}
/*section3 end  */
 
.section4{
    background-color: cornflowerblue;
    height: auto;
    text-align: center;
    font-size: 40px;
    padding:100px;
    margin: 30px;
   
}

.hr1{
    height:5px;
    background-color:black;
}
/* .over-all-section1 end */
 
 .over-all-section2{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding:50px;
    padding-top: 10px;
    border-radius: 20px;
    
  
    
    
}
.another-part{
    background-color: violet;
    padding:100px;
    color:wheat;
    font-size:30px;
    padding-top:5px;
    border-radius:20px;
} 

.another-flex1{
    display: flex;
    
}
.logo{
    width:40%;
}
.list{
    width:60%;
}
.list ul li{
    display:inline-block;
    padding:10px;
    padding-top:0px;
}


.another-flex2{
    display: flex;
    margin-top: 100px;
    
}
.card{
    width:50%;
    border:1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 20px brown;
    margin:10px;
    border-left: 10px solid;
}
.card p{
   text-align: center;
   padding:40px;
    
}
.card img{
    margin-left: 20%;
    margin-bottom: 20%;
}
.another-flex3{
    display: flex;
}
.card2{
    padding: 40px;
    
}
#id3{
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
}

footer{
    background-color: gray;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
    margin-top: 10px;
}
footer h2{
    font-size: 30px ;
    color:black;
    text-align: center;
    
}
form{
    font-size: 20px;
    padding: 40px;

}
button{
    display:inline-block;
    text-align: center;
}
#center{
    text-align: center;
    color:cornsilk;
}
